@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Mulish;
}
.myfon {
  background: url("./Components/img/Rectangle.png") no-repeat;
  background-size: 80%;
  backface-visibility: hidden;
  height: 100dvh;
}
.firstdiv {
  background: var(--foundation-white-white-50, #fefefe);
  box-shadow: 20px 20px 32px 0px rgba(51, 51, 51, 0.04);
}

.gradiend {
  background: var(
    --gradient,
    conic-gradient(
      from 180deg at 70% 70%,
      #fd648e 0deg,
      #884cb2 178.1249964237213deg,
      #fd648e 360deg
    )
  );
  backdrop-filter: blur(15px);
}
.shadoww {
  box-shadow: 0px 4px 24px 0px rgba(51, 51, 51, 0.08);
}
